.footer{
    height: 45vh;
    width: 100%;
    background: #404552;
    position: relative;
  }

.footer .fa {
    padding: 15px;
    font-size: 20px;
    width: 18px;
    text-align: center;
    text-decoration: none;
    margin: 0px 15px 0px 5px;
    border-radius:30px;
    background-color: red;
    /* Create the gradient. */
    background-image: linear-gradient(10deg, #f69e10 , #8c00ff);//bb00fa
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fil
  }
  
  
  .fa:hover {
      opacity: 0.20;
  }
  
  .fa-facebook {
    color: white;
    border-bottom: 3px dotted;

    
  }
  
  .fa-twitter {
    color: white;
    border-bottom: 3px dotted white;
  }
  
  .fa-google {
    color: white;
    border-bottom: 3px dotted white;
  }
  
  .fa-linkedin {
    color: white;
    border-bottom: 3px dotted white;
  }
  
  .fa-youtube {
    color: white;
    border-bottom: 3px dotted white;
  }
  
  .fa-instagram {
    color: white;
    border-bottom: 3px dotted white;
  }
  
  .fa-pinterest {
    color: white;
    border-bottom: 3px dotted white;
  }
  
  
  #socialMedia{
   clear: both;
  text-align: center;
  }

  .footerSub{
    float: left;
    text-align: center;
    justify-content:both;
    margin:30px 30px 40px 150px;
  }

  .footerHeading{
      text-align: center;
       /* Create the gradient. */
    background-image: linear-gradient(10deg, #f69e10 , #8c00ff);//bb00fa
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fil
  }


  .footerSub li{
      list-style: none;
      line-height: 25px;
      font-size: 18px;
      letter-spacing: 1px;
  }

  .footerSub a {
      text-decoration: none;
      color: white;
  }

  .footerSub h3{
      padding-bottom: 30px;
      color: white;
  }

   .footerBottam{
      margin: 30px 0px 0px 37%;
      position: absolute;
      //text-align:center;
      color:white;
  }